body{
    font-family: "Roboto","Times new roman",sans-serif;
    display: flex;
    flex-direction: column;
    
}


.header{
    background-color: #1F2937 ;
    display: flex;
    justify-content: center;
    align-items: left;
    gap:100px;
    padding:0px 200px;
    padding-bottom: 100px;
    padding-top: 20px;

}

.call-to-action{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    padding: 40px;
}

.block{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}

.sign-up-button{
    border:2px solid #e5e7eb;
}

.random-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 200px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.full-picture-block {
    display: flex;
    gap: 20px;
}


.right-header > img{
    width:600px;
    height: 300px;
}

.picture-block > img{
    width: 200px;
    height: auto;
    border:5px solid #3882f6;
    border-radius: 12px;
    
}
.picture-block{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    
}
.picture-block > p{
    color: #1f2937;
   
}

.left-header, .right-header{
    display: flex;
    flex-direction: column;
    width: auto;
    
    gap: 30px;
   
}


.bottom-left-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quote{
    background-color: #e5e7eb ;
    padding: 0 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    
}
.quote-frame, .quote-frame2{
    font-size: 36px; 
    color: #1f2937;
}

.quote-frame{
    font-weight: lighter;
    font-style: italic;
    
}

.quote-frame2{
    font-weight: bolder;
    font-style: normal;
}
button{
    background-color: #3882f6;
    font-weight: bold;
    border: none;
    text-decoration: none;
    width: 100px;
    height: 50px;
    flex-grow: 0;
    border-radius: 12px;
    
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}
h1,h2{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 24px;
    color: #f9faf8;
}
h3{
    font-size: 36px;
    color:#1F2937;
    font-weight: bolder;
}
h4{
    color:#e5e7eb;
    font-size:24px;
    margin: 0;
    padding: 0;
}

a,p,button{
    font-size: 18px;
    color: #e5e7eb;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin: 0;
    padding:0;
}

p{
    margin:0;
}